/* colors */
/* #f8e3c4 #cc3495 #6b1fb1 #0b0630  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  color: #f8e3c4;
}

/* #display .shown {
  display: contents;
} */

.guessBox {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #f8e3c4;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  /* border-radius: 15%; */

  color: #f8e3c4;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #0b0630;
  align-items: center;
}

#display {
  padding: 2rem 1rem;
}
body {
  background-color: #0b0630;
}

#title {
  background-color: #6b1fb1;
}

.center {
  margin-top: 8rem;
}

.nes-container.is-dark {
  background-color: #0b0630;
  border-color: #6b1fb1;
}

.nes-container.is-dark.with-title > .title {
  color: #f8e3c4;
  background-color: #0b0630;
  font-size: 2rem;
}

.heart {
  height: 3rem;
  position: relative;
  top: 2rem;
}

#key-hist {
  position: relative;
  margin-top: 1rem;
}

h3 {
  margin-top: 3rem;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
